<<<<<<< HEAD
#wrapper{
    max-width: 1280;
     margin: 0 auto;
}
=======

>>>>>>> 05f227fc38a6767872a9cd63955b0f880ceaa75b
.form-control{
    text-indent: 30px;
}

.stdL-icon {
    top: 12px; left: 10px; font-size: 15px;
}
body{
    margin: 0;
    font-family: "Lato",sans-serif;
<<<<<<< HEAD
@media only screen and {
    max-width: 560px;
=======
>>>>>>> 05f227fc38a6767872a9cd63955b0f880ceaa75b
}
